# Contract address of the deployed VerificationEngine (test deployment on studionet)
VITE_CONTRACT_ADDRESS=0x8934dfd22A3CF8082B443AF80786da2EFE646f08
# GenLayer RPC endpoint (studionet by default)
VITE_RPC_URL=https://studio.genlayer.com/api
