# Contract address of the deployed VerificationEngine (test deployment on studionet)
VITE_CONTRACT_ADDRESS=0xE5C9A821b0Fa27Fe8d8DE0e74a55C0fdc17760ff
# GenLayer RPC endpoint (studionet by default)
VITE_RPC_URL=https://studio.genlayer.com/api
